@model IEnumerable<NewsViewModel>

<div>
  @foreach (var news in Model)
  {
  <div class="news-header">
    <p>
      <h3>@news.Header</h3>
      @if (Context.User.IsInRole("admin"))
      {
        <a role="button" class="btn btn-light" style="float:right"
           asp-action="DeleteNews" asp-controller="News" asp-route-id="@news.Id">Delete</a>
      }
    </p>
  </div>
  <div class="news-body" style="width:95%">
    @if (news.ImagePath != null)
    {
      <img src="@news.ImagePath" width="200" style="height:auto; vertical-align:text-top; float:left; margin: 0 10px 0 0;" />
    }
  <p style="display:block;white-space:pre-wrap;text-align:justify;">@news.Body</p> 
  </div>
  <div class="news-footer">
    <p>@news.Date</p>
    <hr />
  </div>
  }
</div>