@model IEnumerable<FilmViewModel>
@{
  ViewBag.Title = "Admin panel";
}

<div class="panel panel-default">

  <div class="panel-heading">
    <h3>Films <a asp-action="Purchases" asp-controller="Admin">Purchases</a></h3>
  </div>

  <div class="panel-body">
    <form asp-controller="Admin" asp-action="Admin" method="get">
      <p>
        Genre:
        <select name="GenreId" asp-items="@ViewBag.Genres">
          <option value="">All</option>
        </select>

        Title: <input type="text" name="SearchString" />
        <input class="btn btn-secondary" type="submit" value="Filter" />
      </p>
    </form>

    <table class="table table-striped table-condensed table-bordered">
      <tr>
        <td class="text-right"><b>Id</b></td>
        <td><b>Name</b></td>
        <td><b>Producer</b></td>
        <td><b>Genre</b></td>
        <td class="text-right"><b>Year</b></td>
        <td><b>Country</b></td>
        <td class="text-right"><b>Rate</b></td>
        <td class="text-right"><b>Price</b></td>
        <td class="text-center"><i>Quantity</i></td>
        <td class="text-center"><b>Action</b></td>
      </tr>

      @foreach (var film in Model)
      {
        <tr>
          <td class="text-right"> @film.Id </td>
          <td><a asp-action="FilmDetails" asp-controller="Details" asp-route-id="@film.Id">@film.Name</a></td>
          <td> @film.Producer.Name </td>
          <td>
            @foreach (var genre in film.Genres)
            {
              @genre.Name <br />
            }
          </td>
          <td class="text-right"> @film.Year </td>
          <td>
            @foreach (var country in film.Countries)
            {
              @country.Name <br />
            }
          </td>
          <td class="text-right"> @film.Rate </td>
          <td class="text-right"> @film.Price.ToString("# $")</td>
          <td class="text-right">
            <input type="number" asp-for="@film.QuantityInStock" style="width:4rem"/>
          </td>
          <td>
            <a asp-action="Edit" asp-route-id="@film.Id" class="btn btn-default btn-xs">Edit</a>
            <a asp-action="DeleteFilm" asp-route-id="@film.Id" class="btn btn-default btn-xs">Delete</a>
          </td>
        </tr>
      }
    <tr>
      <td>
        <a class="btn btn-secondary" role="button" href="">Save</a>
      </td>
    </tr>
    </table>
  </div>

  <div class="panel-footer">
    <a asp-action="AddFilm" class="btn btn-secondary">Add film</a>
  </div>
</div>

@section Scripts {
  @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}