@model IEnumerable<FilmViewModel>
@{
  ViewBag.Title = "Cart";
  @using Microsoft.AspNetCore.Http
  @inject IHttpContextAccessor HttpContextAccessor
}

@if (Context.Session.GetInt32("CartFilms") == null)
{
  <h4>You don't have any films in cart. Add some: <a asp-action="Products" asp-controller="Order">here</a></h4>
}
else
{
  @foreach (var film in Model)
  {
    <h2>@film.Name
      <a role="button" class="btn btn-primary" style="border-radius:50%; width:2.3rem;" 
         href="~/Order/RemoveFromCart/@film.Id?first=true">-</a>
      @ViewBag.FilmsDistinctAmount[film.Name]
      <a role="button" class="btn btn-primary" style="border-radius:50%; width:2.3rem;" 
       href="~/Order/AddToCart/@film.Id?count=1&returnUrl=@Context.Request.Host@Context.Request.Path">+</a>
    </h2>
    
    
    <hr />
    <label>Producer: @film.Producer.Name</label>
    <br />
    <label>
      Countries: <br />
      @foreach (var country in film.Countries)
      {
        <label>@country.Name </label>
      }
    </label>
    <br />
    <label>
      Genres: <br />
      @foreach (var genre in film.Genres)
      {
        <label>@genre.Name </label>
      }
    </label>
    <br />
    <label>Year: @film.Year</label>
    <br />
    <label>Rate: @film.Rate</label>
    <br />
    <label><b>@film.Price$</b></label>
    <a class="btn btn-secondary" role="button" asp-action="RemoveFromCart" asp-route-id="@film.Id" asp-route-first="false">Remove</a>
    <hr />
  }

  <h4><b>Sum: @ViewBag.Sum</b></h4>
  <a class="btn btn-primary btn-lg" role="button" asp-action="MakeOrder" asp-controller="Order">Confirm</a>
}

@section Scripts {
  @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}